/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */

.glyphicon-thumbs-up {
  cursor:pointer
}

donut-chart{
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.containing {
  margin-top: 50px;
  display: inline-block;
}

.app-view {
  margin-top: 40px !important;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width:1px;
}

.container {
  font-family:sans-serif;
  width:1000px !important;
  margin:auto;
}

svg.ipo-vis {
  position:relative;
  margin-top:25px;
  margin-bottom:40px;
  background-color:#fff;
  overflow: visible !important;
}

svg text {
  font-family:sans-serif;
  font-size:11px;
}

.x-axis path,
.x-axis line,
.z-line line,
.y-axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scatter-wrap .x-axis .tick,
.scatter-wrap .y-axis .tick {
  opacity:0 !important;
}

.scatter-points .point {
  transition: stroke-width 0.2s;
}

.line-wrap text {
  font-size:12px;
}

.text-wrap text {
  font-size:16px;
}

barline-chart {
  margin-left: 20px
}
