<!DOCTYPE html>
<html>
<head>
  <title>Data Vision</title>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body ng-app="visOne">
  <div ng-include="'nav/_nav.html'"></div>

      <ui-view></ui-view>

</body>

</html>
