<!DOCTYPE html>
<html>
<head>
  <title>Data Vision</title>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="https://rawgit.com/newrelic-forks/d3-plugins-sankey/master/sankey.js"></script>
  <script src="https://rawgit.com/misoproject/d3.chart/master/d3.chart.min.js"></script>
  <script src="https://rawgit.com/q-m/d3.chart.sankey/master/d3.chart.sankey.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68836905-4', 'auto');
    ga('send', 'pageview');

  </script>

</head>

<body ng-app="visOne">
  <div ng-include="'nav/_nav.html'"></div>

      <ui-view></ui-view>

</body>

</html>
